.simpleABTestingPlugin {

    .alert {
        border: 1px solid #ddd;
        border-left: 4px solid #999;
        background: #f5f5f5;
        padding: 12px 16px;
        margin: 0 0 20px 0;
        border-radius: 2px;
    }

    .card {
        margin-bottom: 20px;
    }

}
