{% extends 'admin.twig' %}

{% block content %}
    <div class="simpleABTesting">
        <div class="card">
            <div class="card-content">
                {{ renderReport('SimpleABTesting.getExperimentData') }}
            </div>
        </div>
    </div>
{% endblock %}